@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+SC&family=Source+Sans+Pro&display=swap');

:root {
    --white: #F5F5F5;
    --black: #252525;
    --red: #B1464A;
    --light: #FFF0DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--white);
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    display: flex;
}

.sidebar {
    background-color: var(--red);
}

.sidebar .links{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.sidebar .links a {
    text-decoration: none;
    color: var(--black);
}

ion-icon {
    font-size: 2.5em;
    color: var(--black);
}

ion-icon:hover {
    cursor: pointer;
    color: var(--white);
}

.content {
    height: 100vh;
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow-y: scroll;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: var(--red);
    gap: 25px;
    box-shadow: 8px 8px var(--black);
    border-bottom-left-radius: 50px;
}

.card .left {
    display: flex;
    margin-top: auto;
    color: var(--white);
}

.card .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card .right .title {
    font-size: 2em;
    font-weight: 600;
    color: var(--white);
}

.card .right .btn {
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: 1em;
    text-transform: capitalize;
    padding: 8px 30px;
    border-radius: 25px ;
}

.card .right .btn:hover {
    color: var(--black);
    background-color: var(--light);
    cursor: pointer;
    font-weight: 600;
}

.card .right .desc {
    font-size: 1em;
    text-transform: capitalize;
    color: var(--white);
}

.table-container {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px gainsboro;
    border-radius: 25px;
    width: 100%;
    padding: 50px;
}

.table {
    width: 100%;
    height: 175px;
    overflow-y: scroll;
}

.header {
    width: 100%;
    font-size: 2em;
    font-weight: 600;  
    margin-bottom: 25px;  
}

.table table thead tr th {
    text-transform: capitalize;
}

.table table tbody .icon{
    display: flex;
}

.table table tbody ion-icon{
    font-size: 2em;
}

.table table tbody ion-icon:hover{
    color: var(--red);
}

.table th, .table td {
    padding: 5px 30px;
}

.table table tbody tr {
    background-color: var(--light);
}

.table table {
    width: 100%;
    text-align: center;
    row-gap: 10px;
    border-spacing: 0 15px;
    border-collapse: separate;
}
