@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+SC&family=Source+Sans+Pro&display=swap');

:root {
    --white: #F5F5F5;
    --black: #252525;
    --red: #B1464A;
    --light: #FFF0DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    display: flex;
}

.left {
    background-color: #FECBBA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: var(--red);
}

.left, .right {
    width: 100%;
    height: 100vh;
}

.left img {
    width: 75%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.right .container .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.right .container .title {
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.right .container .sub {
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.right .container input {
    outline: none;
    background: none;
    border: none;
    width: 300px;
    color: var(--white);
    font-size: 1em;
}

.right .container input::placeholder {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
}

.right .container .wrapper {
    border: 2px solid var(--white);
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    display: flex;
    gap: 25px;
    box-shadow: 2px 2px 8px var(--black);
}

.right .container .butt {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    padding: 13px;
    width: 100%;
    border: 1px solid var(--black);
    font-size: 1.3em;
    border-radius: 25px;
}

.right .container .butt:hover {
    border: 1px solid var(--light);
    background-color: var(--light);
    color: var(--black);
    cursor: pointer;
}

.right .container .link span {
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

.right .container .link button {
    border: none;
    background: none;
    color: var(--black);
    font-size: 1.2em;
    font-weight: 600;
}

.right .container .link button:hover {
    color: var(--white);
    cursor: pointer;
}

#email {
    display: none;
}

.right .rect {
    text-decoration: none;
    background: none;
    border: 2px solid var(--black);
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 25px;
    margin-top: 25px;
    color: var(--black);
}

.right .rect:hover {
    background-color: var(--black);
    color: var(--red);
    cursor: pointer;
}

ion-icon {
    font-size: 2em;
}

@media (max-width:600px) {
    .left {
        display: none;
    }

    .right .rect {
        margin-right: 10px;
        margin-top: 10px;
    }
}