@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+SC&family=Source+Sans+Pro&display=swap');

:root {
    --white: #F5F5F5;
    --black: #252525;
    --red: #B1464A;
    --light: #FFF0DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--red);
    font-family: 'Inter', sans-serif;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Noto Serif SC', serif;
    font-size: 2em;
    padding: 15px 25px;
    background-color: var(--light);
}

.heading .btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.heading .btn button {
    border: none;
    background-color: var(--red);
    padding: 8px 30px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    color: var(--light);
}

.heading .btn button:hover {
    background-color: var(--black);
    cursor: pointer;
}

.card-btn{
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    font-size: 1.2rem;
    padding:10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    border: none;
    text-transform: capitalize;
 }
 
 .card-btn:hover{
    background-color: var(--black);
 }
 
.container{
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap:1.5rem;
    justify-content: center;
    width: 100%;
}
 
.container .card{
    background-color: var(--white);
    text-align: center;
    padding: 2rem;
    box-shadow: var(--black);
    border-radius: 15px;
}

.container .card img{
    height: 12rem;
}
 
.container .card h3{
    margin: 1rem 0;
    font-size: 1.5rem;
    color:var(--black);
    text-transform: capitalize;
}
 
.container .card .price{
    font-size: 1.5rem;
    color:var(--black);
}

.container .card a {
    text-decoration: none;
}

@media (max-width:600px) { 
    .heading {
        flex-direction: column;
        gap: 25px;
        font-size: 1.5em;
    }
}